*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

html,body{
    height:100%;
    width:100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.heading{
    text-align: center;
    font-weight: bolder;
    margin: 10px;
}

.add-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.input{
    border: 2px solid blueviolet;
    border-radius: 5px;
    padding: 3px;
}

.btn{
    padding: 4px;
    border: 2px solid blue;
    border-radius: 4px;
    color: blueviolet;
    font-weight: bold;
    transition: 0.5s;
}

.btn:hover{
    border-color: blueviolet;
    cursor: pointer;
    color: blue;
    transform: translateY(-2px);
    transition: 0.5s;
}

h3{
    margin-top: 10px;
    font-weight: 600;
    text-align: center;
}

.storage{
    margin: auto;
    max-width: 250px;
    padding: 10px;
}